#mainScene {
    overflow: hidden;
    position: relative;
    /* width: auto; */
    height: auto;
    margin: 0 auto;
    background-repeat: round;
    /* background-image: url(../img/road.png); */

}
#mainScene svg:hover {
	color: red;
	cursor: pointer;
}

